.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

#ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
}

#p{
  font-size: 30px;
  font-family: Arial;
  color: rgb(63, 35, 90);
  background-color: rgb(206, 187, 255);
  width: 50%;
}

.but{
  background-color: rgb(63, 35, 90);
  border: 1px rgb(63, 35, 90);
  border-radius: 5px;
  padding: 5px;
  font-family: Arial;
  color: rgb(206, 187, 255);
  cursor: pointer;
  margin-top: 2vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}